.App {
  text-align: center;
}

span{
  margin: 10px;
}
img{
  height: 150px;
  width: 150px;
  margin-right: 20px;
  border-right: solid 1px cadetblue;
}
button{
  height: 20px;
  border: 1px solid #fd5050;
  border-radius: 4px;
  margin: 0 5px;
}
button:hover{
  background: #ff7777;
  color: white;
}
h4{
  margin-top: 10px;
}
.addItem{
  border: 1px solid cadetblue;
  width: 95vw;
  margin: 30px auto;
  padding-bottom: 30px;
}
.product{
  display: flex;
  justify-content: flex-start;
  border: 1px solid cadetblue;
  padding: 30px 50px;
  width: 60vw;
  margin: 10px auto;
  box-sizing: border-box;
}
.productInfo{
  width: 300px;
  text-align: left;
  margin-left: 40px;
}